body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    background: #FAFAFA;
    color: #444;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-size: 110%;
    padding: 0 10px
}
h1, h2, h3, h4 {
    line-height: 1.2
}
img {
    width: auto;
    max-width: 650px;
    height: auto;
    max-height: 300px;
    display: block;
    margin: 40px auto;
    border-radius: 10%
}