body {
    margin: 0;
}

canvas {
    image-rendering: pixelated;
	padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#content {
    z-index: 0;
}

#config {
    visibility: hidden;
    z-index: 1;
}